header {
    background-color: #FF6666;
    height: 130px;
    width: 90vw;
}

#headercontent {
    margin: 30px;
    background-color: #FF6666;
}

h1 {
    float: left;
    margin: 30px;

    }

li {
    display: inline;
    margin: 30px;
    padding-top: 10px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
   }

   #sectionhtml {
       height: 300px;
       width: 90vw;
       border-style: dotted;
       margin: 30px;
   }

   #htmllogo {
       height: 140px;
       float: left;
       margin-top: 80px;

   }


   #htmltext {
   }

   #sectioncss {
    height: 375px;
    width: 90vw;
    border-style: dotted;
    margin: 30px;
   }

   #csslogo {
       height: 140px;
       float: right;
       margin-top: 80px;
   }